alembic >= 1.18.3
argon2-cffi >= 25.1.0
Flask >= 3.1.2
flask_limiter >= 4.1.1
Flask_Login >= 0.6.3
Flask_Migrate >= 4.1.0
flask_sqlalchemy >= 3.1.1
flask_wtf >= 1.2.2
gunicorn >= 25.0.0
natsort >= 8.4.0
python-dotenv >= 1.2.1
SQLAlchemy >= 2.0.46
WTForms >= 3.2.1