{% extends "base.html" %}
{% block content %}

<div class="position-relative">

    <a href="/browse/{{ parent }}"
       class="btn btn-sm text-light position-absolute top-0 start-0 m-2 player-back z-3">
        ← Zurück
    </a>

    <div class="player-title position-absolute top-0 w-100 text-center z-2">
        {{ filename }}
    </div>

    <video id="player"
           class="video-js vjs-fluid"
           controls
           preload="auto"
           playsinline>

        <source src="/media/{{ video }}" type="video/mp4">
    </video>

</div>

<script>
const NEXT_URL =
  {% if next_video %}
    "/watch/{{ next_video }}"
  {% else %}
    null
  {% endif %}
</script>

<script src="{{ url_for('static', filename='js/player.js') }}"></script>

{% endblock %}
