{% extends "base.html" %}
{% block content %}

<div class="position-relative">

  <!-- Zurück Button -->
  <a href="/browse/{{ parent }}"
     class="btn btn-dark position-absolute top-0 start-0 m-2 z-3">
    ⬅ Zurück
  </a>

  <!-- Dateiname -->
  <div class="player-title position-absolute top-0 w-100 text-center z-2">
    {{ filename }}
  </div>

  <video
    id="player"
    class="video-js vjs-default-skin vjs-fluid"
    controls
    preload="auto"
    playsinline
    data-setup='{}'>

    <source src="/media/{{ video }}" type="video/mp4">
  </video>

</div>

<script>
const NEXT_URL =
  {% if next_video %}
    "/watch/{{ next_video }}"
  {% else %}
    null
  {% endif %}
</script>

<script src="{{ url_for('static', filename='js/player.js') }}"></script>

{% endblock %}
